.dataset-page {
  padding: 0 40px 40px 40px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  background-color: #f3f4f6;
  min-height: 100vh;

  .add-dataset-wrapper {
    margin: 20px 0;
  }

  .dataset-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    margin-top: 24px;
  }

  & > .dataset-title {
    display: none;
  }
}

